.header{
    background-image: url("/icon/b.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
}



.text{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9rem;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 80px;
}

.button a{
    color: #222;
    background-color: #fff;
    padding: 5px;
    font-weight: bold;
    border-radius: 6px;
}

.container{
    min-height: 1000px;
}

.footer{
    background-color: rgb(13, 13, 105);
}





.textt{
    display: flex;
    justify-content: space-between;
}

.textt h1{
    margin: auto;
}

.ditalse{
    display: flex;
    justify-content: center;
}

.ditalse ul{
    padding: 30px;
}

.ditalse ul li {
    padding: 10px;
}

.ditalse ul li a{
    color: #fff;
}

.menu{
    display: none;
}

.h3{
    text-align: center;
    color: #fff;
}

.sochial{
    display: flex;
    justify-content: end;
    position: relative;
}

.sochial img{
    width: 40px;
    margin-right: 3rem;
}

.menu img{
    width: 50px;
    display: flex;
    cursor: pointer;
}

.ulcontainer{
    position: absolute;
    top: 60px;
    z-index: 10;
    background-color: aliceblue;
    width: 100%;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    top: -280px;
    transition: all 0.4s ease-in;
}

.ulcontaineractive {
    top: 0;
}

.ulcontainer ul {
    text-align: center;
}

.ulcontainer ul li{
    padding: 15px;
}

@media (min-width:320px) and (max-width:480px){
    .header{
        width:419%;
    }
    .footer{
        width: 418%;
    }
    .footer h3{
        font-size: 2rem;
    }
    .ditalse{
        font-size: 2rem;
    }
    .sochial img{
        width: 60px;
    }
    .ditalse ul li{
        margin-top: 1rem;

    }
    .button{
       margin-top: 5rem;
       gap: 15px;
    }
    .container{
        min-height: 240px;
        /* margin-top: 18rem; */
        /* height: 1120%; */
        /* height: 600%; */
    }
}


@media (min-width:481px) and (max-width:768px){
    .header{
        width: 292%;
    }
    .footer{
        width: 293%;
        height: 400px;
    }
    .footer h3{
        font-size: 2rem;
    }
    .ditalse ul li{
        margin-top: 0.40rem;
    }
}

@media (min-width:769px) and (max-width:1024px){
    .header{
        width: 145%;
    }
    .footer{
        width:145%;
    }
   
}


@media (min-width:1025px) and (max-width:1200px){
    .header{
        width:104%;
    }
    .footer{
        width: 105%;
    }
}


 

